# Configurações do Banco de Dados para o MySQL Container
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=philippeJardim7
MYSQL_USER=user
MYSQL_PASSWORD=password

# Configurações da Aplicação
DB_HOST=db
DB_USER=user
DB_PASS=password
DB_NAME=philippeJardim7
SESSION_SECRET=uma_chave_secreta_segura_para_sessao
